:root {
    --bg: #0D1035;
    --primary: #8035DC;
    --accent: #FD4544;
    --success: #0AC861;
    --onDarkPrimary: #FFFFFF;
    --onDarkSecondary: rgba(255, 255, 255, 0.6);
    --layer1: rgba(255, 255, 255, 0.1);

}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg);
}

section {
    display: grid;
    grid-template-columns: repeat(10, auto);

    div {
        background-color: var(--bg);
        height: 100vh;
    }
}

h1 {
    font-size: 5em;
    position: absolute;
    top: 40%;
    left: 12%;
    opacity: 0;
    z-index: 2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(40, auto);
    grid-template-rows: repeat(10, auto);
    grid-gap: 3px;
    min-width: 830px;

    .ripple-div {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: var(--primary);
    }
}



