:root {
    --bg: #0D1035;
    --primary: #8035DC;
    --accent: #FD4544;
    --success: #0AC861;
    --onDarkPrimary: #FFFFFF;
    --onDarkSecondary: rgba(255, 255, 255, 0.6);
    --layer1: rgba(255, 255, 255, 0.1);

}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg);
}

section {
    display: grid;
    grid-template-columns: repeat(10, auto);

    div {
        background-color: var(--bg);
        height: 100vh;
    }
}

h1 {
    font-size: 5em;
    position: absolute;
    top: 40%;
    left: 12%;
    opacity: 0;
    z-index: 2;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(40, auto);
    grid-template-rows: repeat(10, auto);
    grid-gap: 3px;
    min-width: 830px;

    .ripple-div {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: var(--primary);
    }
}

.power-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.purple-credit-card-float-in{
    width: 325px;
    height: 140px;
    background-color: var(--primary);
    display: flex;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 20px;
    margin-right: 1000px;
    transform: rotateX(25deg);

    .main-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;

        .main{
            font-size: 1.5em;
            color: white;
            font-weight: bold;
        }

        .sub{
            font-size: 1em;
            color: white;
            font-weight: normal;
        }
    }
}

.purple-credit-card{
    width: 325px;
    height: 200px;
    background-color: var(--primary);
    display: flex;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 20px;
    transform: rotateX(25deg);

    .main-text-container{
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: 20px;
        margin-left: 20px;

        .main{
            font-size: 2.5em;
            margin-bottom: 10px;
            color: white;
            font-weight: bold;
        }

        .sub{
            font-size: 1em;
            color: white;
            font-weight: normal;
        }
    }
}

